.idea
src/main/webapp/typings/**
src/main/webapp/node_modules
jspm_packages
src/main/webapp/link-checker-results.txt
src/main/webapp/**/*npm-debug.log.*
*.js.map
_test-output
_temp

!**/*e2e-spec.js
!src/main/webapp/karma*.js
!src/main/webapp/protractor*.js
!src/main/webapp/systemjs.config.js
!src/main/webapp/typings/typings.d.ts
!src/main/webapp/wallaby.js
src/main/webapp/app/css/fundation*
src/main/webapp/app/scripts/*.js
src/main/webapp/app/scripts/*.map
src/main/webapp/app/scripts/thirdparty
src/main/webapp/app/scripts/locales/**
target
/build/
